[submodule "direct/juju/retry"]
	path = direct/juju/retry
	url = git@github.com:juju/retry.git
[submodule "direct/Rican7/retry"]
	path = direct/Rican7/retry
	url = git@github.com:Rican7/retry.git
[submodule "direct/andrew-plunk/retry"]
	path = direct/andrew-plunk/retry
	url = git@github.com:andrew-plunk/retry.git
[submodule "direct/avast/retry-go"]
	path = direct/avast/retry-go
	url = git@github.com:avast/retry-go.git
[submodule "direct/adamliesko/retry"]
	path = direct/adamliesko/retry
	url = git@github.com:adamliesko/retry.git
[submodule "direct/go-pkgz/repeater"]
	path = direct/go-pkgz/repeater
	url = git@github.com:go-pkgz/repeater.git
[submodule "list/avelino/awesome-go"]
	path = list/avelino/awesome-go
	url = git@github.com:avelino/awesome-go.git
[submodule "direct/matryer/try"]
	path = direct/matryer/try
	url = git@github.com:matryer/try.git
[submodule "direct/ssgreg/repeat"]
	path = direct/ssgreg/repeat
	url = git@github.com:ssgreg/repeat.git
[submodule "direct/thedevsaddam/retry"]
	path = direct/thedevsaddam/retry
	url = git@github.com:thedevsaddam/retry.git
[submodule "direct/Songmu/retry"]
	path = direct/Songmu/retry
	url = git@github.com:Songmu/retry.git
[submodule "direct/shafreeck/retry"]
	path = direct/shafreeck/retry
	url = git@github.com:shafreeck/retry.git
[submodule "direct/go-retry/retry"]
	path = direct/go-retry/retry
	url = git@github.com:go-retry/retry.git
[submodule "direct/rafaeljesus/retry-go"]
	path = direct/rafaeljesus/retry-go
	url = git@github.com:rafaeljesus/retry-go.git
[submodule "direct/dgrijalva/retry"]
	path = direct/dgrijalva/retry
	url = git@github.com:dgrijalva/retry.git
[submodule "direct/maraino/retry"]
	path = direct/maraino/retry
	url = git@github.com:maraino/retry.git
[submodule "direct/percolate/retry"]
	path = direct/percolate/retry
	url = git@github.com:percolate/retry.git
[submodule "direct/lytics/retr"]
	path = direct/lytics/retr
	url = git@github.com:lytics/retry.git
[submodule "direct/azr/retry"]
	path = direct/azr/retry
	url = git@github.com:azr/retry.git
[submodule "direct/bernos/go-retry"]
	path = direct/bernos/go-retry
	url = git@github.com:bernos/go-retry.git
[submodule "direct/eapache/go-resiliency"]
	path = direct/eapache/go-resiliency
	url = git@github.com:eapache/go-resiliency.git
[submodule "direct/dron22/go-resiliency"]
	path = direct/dron22/go-resiliency
	url = git@github.com:dron22/go-resiliency.git
[submodule "indirect/h2non/gentleman-retry"]
	path = indirect/h2non/gentleman-retry
	url = git@github.com:h2non/gentleman-retry.git
[submodule "indirect/technoweenie/httpretry"]
	path = indirect/technoweenie/httpretry
	url = git@github.com:technoweenie/httpretry.git
[submodule "indirect/aybabtme/untilitworks"]
	path = indirect/aybabtme/untilitworks
	url = git@github.com:aybabtme/untilitworks.git
[submodule "indirect/sethgrid/pester"]
	path = indirect/sethgrid/pester
	url = git@github.com:sethgrid/pester.git
[submodule "indirect/syncromesh/pester"]
	path = indirect/syncromesh/pester
	url = git@github.com:syncromesh/pester.git
[submodule "indirect/hashicorp/go-retryablehttp"]
	path = indirect/hashicorp/go-retryablehttp
	url = git@github.com:hashicorp/go-retryablehttp.git
[submodule "indirect/fravega/go-retryablehttp"]
	path = indirect/fravega/go-retryablehttp
	url = git@github.com:fravega/go-retryablehttp.git
[submodule "indirect/gojek/heimdall"]
	path = indirect/gojek/heimdall
	url = git@github.com:gojek/heimdall.git
[submodule "indirect/go-resty/resty"]
	path = indirect/go-resty/resty
	url = git@github.com:go-resty/resty.git
[submodule "indirect/carlescere/goback"]
	path = indirect/carlescere/goback
	url = git@github.com:carlescere/goback.git
