[submodule "direct/juju/retry"]
	path = direct/juju/retry
	url = git@github.com:juju/retry.git
[submodule "direct/rican7/retry"]
	path = direct/rican7/retry
	url = git@github.com:rican7/retry.git
[submodule "direct/andrew-plunk/retry"]
	path = direct/andrew-plunk/retry
	url = git@github.com:andrew-plunk/retry.git
[submodule "direct/avast/retry-go"]
	path = direct/avast/retry-go
	url = git@github.com:avast/retry-go.git
[submodule "direct/adamliesko/retry"]
	path = direct/adamliesko/retry
	url = git@github.com:adamliesko/retry.git
[submodule "direct/go-pkgz/repeater"]
	path = direct/go-pkgz/repeater
	url = git@github.com:go-pkgz/repeater.git
[submodule "list/avelino/awesome-go"]
	path = list/avelino/awesome-go
	url = git@github.com:avelino/awesome-go.git
